body {
  background-color: #0a192f;
}

li {
  line-height: 1.5;
}

.monoFont {
  color: #47b6a4;
  font-family: 'Source Code Pro', monospace;
  font-size: 11pt;
  line-height: 1.5;
}

#greeting {
  margin-bottom: 20px;
}

#main {
  margin: 100px;
  max-width: 550px;
}

/*
Why do C# and Java developers keep breaking their keyboards?
 - Because they use a strongly typed language
*/
